body {
    width: 1440px;
    background-color: black;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.portrait {
    width: 100px;
    height: 100px;

    background-color: antiquewhite;
    border-radius: 50%;
    margin-top: 10rem;
}

main{
    justify-items: center;
   
}

.name{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 15px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 11px;
    font-weight: 600;
}

.bio{
    color: hsl(0, 0%, 100%);
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2rem;
}

a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 11px;
}

a:hover{
     color: hsl(75, 94%, 57%);
     transition: 0.5s;
}

.attribution {
    font-size: 11px;      
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}